<nav class="navbar navbar-side" role="navigation" id = "user_main_head">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a href="#" id = "hotel"> &nbsp;&nbsp;HOTEL&nbsp;&nbsp;     ></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="#" id = "hotel_search"> &nbsp;HOTEL SEARCH</a>
                            </li>
                            <li>
                                <a href="#" id = "hotel_enable"> &nbsp;HOTEL ENABLE</a>
                            </li>
                            <li>
                                <a href="add_room" id = "hotel_disable"> &nbsp;HOTEL DISABLE</a>
                            </li>
                            
                        </ul>
                    </li>

                    <li>
                        <a href="#" id = "order_search"> &nbsp;&nbsp;ORDER&nbsp;&nbsp;     ></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#" id = "order_search"> &nbsp;ORDER SEARCH</a>
                            </li>
                            
                            
                        </ul>
                    </li>
                    
                   
                    
                </ul>

            </div>
</nav>