<div>
<footer>
	<div class="container" style="
    margin-left: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
">

		
		<div class="col-sm-4">
			<h4>ABOUT TOGETHER</h4>
				<p class = "footertext">A website for database program.</p>
				<p class = "footertext">Nothing real.</p>
		</div>
	
		<div class = "col-sm-4">
			<h4>OUR SERVICE</h4>
				<p class = "footertext">Hotel reservation</p>
				<p class = "footertext">Hotel management</p>
		</div>
		<div class="col-sm-4">
			<h4>CONTACT US</h4>
			<p><span class="glyphicon glyphicon-envelope footertext"> jrgao0614@gmail.com</span></p> 
			<p><span class="glyphicon glyphicon-earphone footertext"> 15121192827</span></p>    
			<p><span class="glyphicon glyphicon-phone-alt footertext"> 021-miaomiaomiao</span></p> 
			<p><span class="glyphicon glyphicon-home footertext"> No.1433 Cailun Road<br/>&nbsp;&nbsp;Pudong New District<br/>&nbsp;&nbsp;Shanghai China</span></p>   
		</div> 

	</div>

</footer>
</div>

<script src = "/javascripts/jquery.min.js"></script>
<script src = "/stylesheet/js/bootstrap.min.js"></script>
<link href = "/stylesheet/footer.css" rel = "stylesheet">
<link href = "/stylesheet/main.css" rel = "stylesheet">
</body>
</html>
