<div class = "">
	<img src = "images/main.jpg" id = "mainpicture" alt = "beach picture">
	<div class = "sometext">
		<p1 > How about </p1>
	</br>
		<p2 > together ! </p2>
		<form id = "main_form" action = "">
			<name> Destination   </name>
			<name> Hotel name   </name>
			<name> Arrival   </name>
			<name id = "dip"> Departure  </name>
			<br>
			<input id = "city" type = "text" placeholder = "Shanghai/Beijing/...">
			<input id = "hotel_name" type = "text" placeholder = "Jinjiang Hotel">
			<input id = "arrival" >
			<input id = "leave">
			<button type = "submit">Search</button>
		</form>
	</div>
</div>