<br>
<h2 class = "col-sm-10 col-md-12 col-offset-2" style= "color: #2AC5DA; font-weight: bold; margin-left : 20px; margin-right: 20px;">(=^-ω-^=) Find a City </h2> 
<div style = "margin-left: 20px; margin-right: 20px;">
    <img src="images/beijing_1.jpg" style="width: 32%;margin: 5px;margin-top: 10px;display :incline-block;">
    <img src="images/shanghai_1.jpg"  style="width: 32%; margin: 5px;margin-top: 10px;display :incline-block;">
    <img src="images/changchun_1.jpg"  style="width: 32%; margin: 5px;margin-top: 10px;display :incline-block;">
</div>

</br>
<h2 class = "col-sm-12 col-md-12" style= "color: #2AC5DA; font-weight: bold; margin-left: 20px">~(=^‥^)ノ Find a lifestyle </h2> 
<div style = "margin-left : 20px;margin-bottom : 30px;">
    <img src="images/beach_1.jpg"  style="width: 32%; margin: 5px;margin-top: 10px;display :incline-block;">
    <img src="images/flower_1.jpg"  style="width: 32%; margin: 5px;margin-top: 10px;display :incline-block;">
    <img src="images/food_1.jpeg"  style="width: 32%; margin: 5px;margin-top: 10px;display :incline-block;">
</div>