<% include u_header_login.html%>

<link href="/stylesheet/user_main.css" rel="stylesheet" />
<body>
        <% include u_side.html %>
        
        <div id="page-wrapper" >
            <div id = "page-inner-in">
            <div id="page-inner">
                
                <% include u_search.html %>
            	<%include u_home.html%>
            </div>
			</div>
        </div>

    <script src = "/javascripts/user_main.js"></script>
    <script>
        
        $('#main-menu').metisMenu();

        $(window).bind("load resize", function () {
            if ($(this).width() < 768) {
                $('div.sidebar-collapse').addClass('collapse')
            } else {
                $('div.sidebar-collapse').removeClass('collapse')
            }
        });
    </script>
    
<% include ../footer.html %>