<div id = "search_item">
<div class="container" id="search_item_in" style="
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    /* width: 1113px; */
    width: 100%;
">

  <div class="form-inline" role="form" style="/* margin: 5px; */background: #F3F3F3;padding-top: 10px;padding-bottom: 10px;padding-left: 10px;" >
   
    <div class="form-group">
      <label for="Hotel Name">Hotel Name :</label>
     <input type="text" class="form-control" id="s_hotel_name" placeholder="Enter hotel name" style="
    width: 60%;
">
    </div>
    
    <div class="form-group">
      <label for="check_in">Check-in :</label>
      <input type="date" class="form-control" id = "s_check_in" >
    </div>
   
    <div class="form-group">
      <label for="check_out">Check-out :</label>
      <input type="date" class="form-control" id = "s_check_out" >
    </div>

    <div class="" style="width: 250px;display : inline-block;margin-left: 10px;">
      <label for="room price">Price : </label>
      <input type="text"  id="s_room_price_min" style=" width: 70px;">
      <label for="room price">&nbsp;to&nbsp;</label>
      <input type="text"  id="s_room_price_max" style=" width: 70px;">
   </div>

    <div class="form-group " style="
    margin-right: 105px;
">
    <label for="city">City &nbsp;:&nbsp;&nbsp;</label>
        <select name="city" style=" margin-right: 30px;" id="s_city">
         <option>All</option>
         <option>Beijing</option>
         <option>Shanghai</option>
         <option>Changchun</option>    
        </select>
    </div>

    <div class="form-group " style="
    margin-right: 65px;
">
   

    <button  type = "submit"  id = "user__search_hotel" class="btn btn-default " style="
    margin-left: 620px;
    background: #087CF3;
    color: white;
    padding: 8px 15px 8px 15px;
    font-weight: bolder;
">Search</button>
<script src = "/javascripts/user_search_hotel.js"></script>
  </div>
</div>
</div>

