<nav class="navbar navbar-side" role="navigation" id = "user_main_head">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    
                    <li>
                        <a href="u_backend" id = "myhome"> &nbsp;&nbsp;BOOKING </a>
                    </li>
                    <!--<li>
                        <a href="#" id = "mybooking"> &nbsp;&nbsp;BOOKING </a>
                    </li>-->
                    <li>
                        <a href="#" id = "myprofile"> &nbsp;&nbsp;MY PROFILE</a>
                        
                    </li>


                    <li>
                        <a href="#" id = "myorder"> &nbsp;&nbsp;ORDER&nbsp;&nbsp;     ></a>
                       
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#" id = "myunpayed"> &nbsp;UNPAYED</a>
                            </li>
                            <li>
                                <a href="#" id = "mypayed"> &nbsp;PAYED</a>
                            </li>
                            <li>
                                <a href="#" id = "myconfirmed"> &nbsp;CONFIRMED</a>
                            </li>
                            
                        </ul>
                    </li>
                   
                    <li>
                        <a href="#"> &nbsp;&nbsp;REFUND&nbsp;&nbsp;     ></a>

                         <ul class="nav nav-second-level">
                            <li>
                                <a href="#" id = "waiting_refund"> &nbsp;WAITING</a>
                            </li>
                            <li>
                                <a href="#" id = "has_refund"> &nbsp;REFUND</a>
                            </li>
                            
                        </ul>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->