<% include h_header_login.html%>

<link href="/stylesheet/user_main.css" rel="stylesheet">
<body>
    
    <% include h_side.html %>
    <div id="page-wrapper"  >
      <div id = "page-inner-in">
        <div id="page-inner">
            	
    <% if (locals.success) { %> 
      <div id="alt_sucess" class="alert alert-success"> 
        <%- success %> 
      </div> 
    <% } %> 

    <% if (locals.error) { %> 
      <div id="alt_warning" class="alert alert-warning"> 
        <%= error %> 
      </div> 
    <% } %> 
            
  <form class="form-horizontal" role="form" method="post" action="change_price"  style="
    padding: 20px;">
  <h3 style="margin-left: 30px;">Change Price for Special Days</h3>
  <br>
  <div class="form-group" style = "margin-top: 30px;">
    <label for="room_type_id" class="col-sm-3 control-label" >Room Type Id *</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" name="room_type_id" placeholder="Enter room type id" required>
    </div>
  </div>
  
  <div class="form-group">
    <label for="room_price" class="col-sm-3 control-label">Room Price *</label>
    <div class="col-sm-6">
      <input type="number" class="form-control" name="room_price" placeholder="Enter roomprice" required>
      <p class="help-block">Integer is recommended.</p>
    </div>
  </div>

  <div class="form-group">
    <label for="special_day" class="col-sm-3 control-label">Special Day *</label>
    <div class="col-sm-6">
      <input type="date" class="form-control" name="special_day" placeholder="Enter date" required>
    </div>
  </div>

   <div class="form-group">
    <div class="col-sm-offset-3 col-sm-6">
      <button type="submit" class="btn btn-success" id="change_price">Change Price Now </button>
    </div>
  </div>

</form>
            		
			</div>
    </div>
  </div>
        
  <script src = "/javascripts/user_main.js"></script>
  <script>
        
        $('#main-menu').metisMenu();

        $(window).bind("load resize", function () {
            if ($(this).width() < 768) {
                $('div.sidebar-collapse').addClass('collapse')
            } else {
                $('div.sidebar-collapse').removeClass('collapse')
            }
        });
  </script>
    
<% include ../footer.html %>