<% include h_header_login.html%>

<link href="/stylesheet/user_main.css" rel="stylesheet">
<body>
    
        <% include h_side.html %>
        <div id="page-wrapper" >
            <div id="page-inner">
            	<img src="../images/city_love.jpg" style="width: 100%;">
            		<div  class="ontext" stylr="display : inline-block;" style="
    					display: inline-block;
    					position: absolute;
    					top: 300px;
    					left: 43%;
    					color: white;
    					opacity: .9;
    					font-weight: bold;
						">
            		<h1>Travel Together</h1>
            		<h2>Always be together  Always be loved</h2>
            		</div>
			</div>
         <!-- /. PAGE WRAPPER  -->
        </div>
        
     <script src = "/javascripts/user_main.js"></script>
    <script>
        
        $('#main-menu').metisMenu();

        $(window).bind("load resize", function () {
            if ($(this).width() < 768) {
                $('div.sidebar-collapse').addClass('collapse')
            } else {
                $('div.sidebar-collapse').removeClass('collapse')
            }
        });
    </script>
    
<% include ../footer.html %>