<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "utf-8">
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href = "/stylesheet/css/bootstrap.min.css" rel = "stylesheet">
	<script src = "/javascripts/jquery.min.js"></script>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href = "/stylesheet/header_backend.css" rel = "stylesheet">
	<link href = "/stylesheet/main.css" rel = "stylesheet">
	<script src = "/javascripts/hotel_backend.js"></script>
	<script src = "/stylesheet/js/bootstrap.min.js"></script>

</head>
<header>
		<div class = "logo">
			<a href = "/hotel/h_backend">
				<img src = "../images/logo.jpg" alt = "logo" id = "logo">
			</a>
		</div>

		<div class = "phone-message-wrapper-test">
			<div class = "phone-message">
				如遇到任何问题，请联系：
				<div class = "phone-number">
					<i class = "flag"></i>
					miao-miao-miao
				</div>
			</div>
		</div>
		
		
		<div class = "sign_in">
			<p id = "welcome">ヽ(=^･ω･^=)丿 Welcome <%= username %></p>
			<a href = "/">
			<button type="button" class="btn btn-default" href = '/' >
  			<span class="glyphicon glyphicon-log-out" ></span>
			</button>
		</a>

		</div>
		
		
	</header>
<body >
