<nav class="navbar navbar-side" role="navigation" id = "user_main_head">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    
                   
                    <li>
                        <a href="#" id = "myprofile"> &nbsp;&nbsp;My Profile</a>
                        
                    </li>

                    <li>
                        <a href="#" id = "roominfo"> &nbsp;&nbsp;Room Info&nbsp;&nbsp;     ></a>
                        <ul class="nav nav-second-level">
                        	<li>
                                <a href="#" id = "hotel_room"> &nbsp;My Room</a>
                            </li>
                            <li>
                                <a href="#" id = "room_status"> &nbsp;Room Status</a>
                            </li>
                            <li>
                                <a href="add_room" id = "add_room"> &nbsp;Add Room</a>
                            </li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href="#" id = "hotelorder"> &nbsp;&nbsp;Order&nbsp;&nbsp;     ></a>
                       
                        <ul class="nav nav-second-level">
                        	<li>
                                <a href="#" id = "h_myorder"> &nbsp;My Order</a>
                            </li>
                            <li>
                                <a href="#" id = "h_confirm"> &nbsp;Confim</a>
                            </li>
                            <li>
                                <a href="#" id = "h_checkin"> &nbsp;Check-in</a>
                            </li>
                            <li>
                                <a href="#" id = "h_refund"> &nbsp;Refund</a>
                                
                            </li>
                        </ul>
                    </li>
                   
                    <li>
                        <a href="#"> &nbsp;&nbsp;Refund</a>
                    </li>
                </ul>

            </div>
</nav>