<nav class="navbar navbar-side" role="navigation" id = "user_main_head">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    
                   
                    <li>
                        <a href="#" id = "myprofile"> &nbsp;&nbsp;MY PROFILE</a>
                        
                    </li>

                    <li>
                        <a href="#" id = "roominfo"> &nbsp;&nbsp;ROOM INFO&nbsp;&nbsp;     ></a>
                        <ul class="nav nav-second-level">
                        	<li>
                                <a href="#" id = "hotel_room"> &nbsp;MY ROOM</a>
                            </li>
                            <li>
                                <a href="#" id = "room_status"> &nbsp;ROOM STATUS</a>
                            </li>
                            <li>
                                <a href="add_room" id = "add_room"> &nbsp;ADD ROOM</a>
                            </li>
                            
                        </ul>
                    </li>

                    <li>
                        <a href="#" id = "process"> &nbsp;&nbsp;PROCESS&nbsp;&nbsp;     ></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#" id = "h_process_confirm"> &nbsp;CONFIRM</a>
                            </li>
                            <li>
                                <a href="#" id = "h_process_refund"> &nbsp;REFUND</a>
                            </li>
                            <li>
                                <a href="#" id = "h_process_check-in"> &nbsp;CHECK-IN</a>
                            </li>
                             <li>
                                <a href="#" id = "h_process_check-out"> &nbsp;CHECK-OUT</a>
                            </li>
                            
                        </ul>
                    </li>

                    <li>
                        <a href="#" id = "hotelorder"> &nbsp;&nbsp;ORDER&nbsp;&nbsp;     ></a>
                       
                        <ul class="nav nav-second-level">
                        	
                            <li>
                                <a href="#" id = "h_confirm"> &nbsp;CONFIRMED</a>
                            </li>
                            <li>
                                <a href="#" id = "h_checkin"> &nbsp;CHECK-IN</a>
                            </li>
                             <li>
                                <a href="#" id = "h_complete"> &nbsp;COMPLETE</a>
                            </li>
                            <li>
                                <a href="#" id = "h_refund"> &nbsp;REFUND</a>
                                
                            </li>
                            <li>
                                <a href="#" id = "h_all"> &nbsp;ALL</a>
                                
                            </li>
                        </ul>
                    </li>
                   
                    
                </ul>

            </div>
</nav>